/* USE FOR DEBUG*/
/**
{
	outline: 1px solid black;
}*/
html {
  font-size: 0.625em;
  /* fallback IE8+ */
  font-size: calc(1em * .625);
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 1.6em;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove font style on address */
address {
  font-style: normal;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Image replacement technique 2012 H5BP  - https://css-tricks.com/the-image-replacement-museum/ */
.ir {
  font: 0/0 a;
  color: transparent;
  border: 0;
  text-shadow: none;
}

body {
  color: #e6e6ff;
  background-color: #191932;
}
body .zoneNotif {
  position: fixed;
  right: 1em;
  top: 1em;
  height: 10em;
  width: 20%;
  box-shadow: 5px 0px 5px rgba(255, 25, 25, 0.8), -5px 0px 5px rgba(255, 25, 25, 0.8), 0px 5px 5px rgba(255, 25, 25, 0.8), 0px -5px 5px rgba(255, 25, 25, 0.8);
  background-color: #191932;
  border-radius: 15px;
  padding: 0.5em;
  transition: all 1s;
  display: none;
  flex-direction: column;
}
body .zoneNotif button {
  position: absolute;
  right: 0.5em;
}
body .zoneNotif .wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.notif {
  padding: 0.5em;
  position: relative;
  word-wrap: break-word;
  hyphens: auto;
}
.notif .goNotif {
  position: relative;
  right: auto;
}
.notif.highlight {
  background-color: rgba(255, 255, 255, 0.1);
}
.notif.lowlight {
  background-color: rgba(0, 0, 0, 0.2);
}

header {
  text-align: center;
}

h1 span {
  color: rgba(255, 25, 25, 0.8);
}

#error, #errorComment {
  max-width: 60%;
  margin: auto;
  padding: 0.5em;
}
#error button, #errorComment button {
  margin: 1em;
  border-radius: 15px;
}

main {
  display: grid;
  grid-template-rows: 6em 1fr;
}
main section {
  padding: 1em;
}
main .main-first {
  grid-row: 1;
  background-image: linear-gradient(#191932, rgba(255, 25, 25, 0.8), #191932);
}
main .main-second {
  grid-row: 2;
}
main .pageButton {
  margin-left: 0.5em;
  border-radius: 15px;
}
main .currentButton, main .currentButton:hover, main .currentButton:focus {
  box-shadow: 5px 0px 5px rgba(255, 25, 25, 0.8), -5px 0px 5px rgba(255, 25, 25, 0.8), 0px 5px 5px rgba(255, 25, 25, 0.8), 0px -5px 5px rgba(255, 25, 25, 0.8);
  background-color: rgba(0, 0, 0, 0.2);
  color: #e6e6ff;
}

input, button {
  background-color: #e6e6ff;
  margin-bottom: 0.5em;
  border-radius: 15px;
}

button:hover, button:focus, input[type=submit]:hover, input[type=submit]:focus {
  box-shadow: 5px 0px 5px #e6e6ff, -5px 0px 5px #e6e6ff, 0px 5px 5px #e6e6ff, 0px -5px 5px #e6e6ff;
  border-radius: 15px;
  cursor: pointer;
}

#list-touits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-form label {
  position: relative;
  cursor: text;
}
.main-form label > *, .main-form > input {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 15px;
}
.main-form label span {
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: all 0.5s;
  text-indent: 0.5em;
  background-color: #e6e6ff;
  color: #191932;
}
.main-form input {
  height: 3em;
  box-shadow: 2px 2px 2px black;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
.main-form input:focus ~ span {
  font-size: 0.8em;
  margin-top: -1.2em;
  top: 0;
  padding: 0.3em;
  margin-left: 1em;
  background-color: #e6e6ff;
  color: #191932;
  border-radius: 15px 15px 0 0;
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 1px;
  border-left-style: solid;
  border-left-color: black;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-color: black;
  border-right-width: 1px;
}
.main-form input:not(:placeholder-shown) ~ span {
  font-size: 0.8em;
  margin-top: -1.2em;
  top: 0;
  padding: 0.3em;
  margin-left: 1em;
  background-color: #e6e6ff;
  color: #191932;
  border-radius: 15px 15px 0 0;
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 1px;
  border-left-style: solid;
  border-left-color: black;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-color: black;
  border-right-width: 1px;
}

.touit {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 0px 5px rgba(255, 25, 25, 0.8), -5px 0px 5px rgba(255, 25, 25, 0.8), 0px 5px 5px rgba(255, 25, 25, 0.8), 0px -5px 5px rgba(255, 25, 25, 0.8);
  margin: 1em;
  padding: 1em;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}
.touit .pseudo {
  font-weight: bold;
}
.touit .msg {
  border-style: dotted;
  border-color: #e6e6ff;
  border-width: 1px;
  word-wrap: break-word;
  hyphens: auto;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 15px;
  overflow: auto;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 70vw;
}
.touit button {
  color: #e6e6ff;
}
.touit .comment {
  border: none;
  text-indent: 1em;
  background: none;
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
  background-image: url(../img/bulle.png);
}
.touit .liker {
  border: none;
  text-indent: 1em;
  background: none;
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
  background-image: url(../img/coeur.png);
}
.touit .disliker {
  border: none;
  text-indent: 1em;
  background: none;
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
  background-image: url(../img/coeurNoir.png);
}

.other {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.other > section {
  padding: 0.5em;
}
.other .other-first {
  grid-column: 1;
  text-align: center;
}
.other .other-second {
  grid-column: 2;
  text-align: center;
}
.other .other-third {
  grid-column: 3;
  text-align: center;
}
.other .other-fourth {
  grid-column: 4;
  text-align: center;
}

#most-active div {
  display: flex;
  flex-direction: column;
}
#most-active div .author {
  margin: 1em;
  border-radius: 15px;
}

.popin {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 5em;
  left: 0;
  right: 0;
  width: 30%;
  /*	min-height: 30%;*/
  /*max-height: 60%;*/
  /*	background: yellow;*/
  height: 80%;
  overflow: hidden;
  z-index: 999;
  padding: 1em;
  padding-top: 3em;
  border-radius: 25px;
  background-color: white;
  box-shadow: 2px 2px 2px #e6e6ff;
  border-color: lightColor;
  border-width: 1px;
  border-style: solid;
  background-color: #191932;
}
.popin .wrapper {
  max-height: 60vh;
  overflow: auto;
}

#popin-back {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.5);
}

.exit {
  position: absolute;
  right: 1em;
  top: 1em;
}

#commentForm {
  display: flex;
  flex-direction: column;
}

#commentBlock .wrapper {
  max-height: 30vh;
}
#commentBlock input {
  border-radius: 15px;
  padding: 0.5em;
}

.commentBlock {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
.commentBlock .pseudo {
  font-weight: bold;
}
.commentBlock .date {
  font-style: italic;
}
.commentBlock .comment {
  padding: 0.5em;
  border-style: dotted;
  border-color: #e6e6ff;
  border-width: 1px;
  border-radius: 15px;
  overflow: auto;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 70vw;
}

.stop-scrolling {
  overflow: hidden;
}

/*# sourceMappingURL=mobile.css.map */
